<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.doikki.dkplayer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">

        <!--允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.8" />
        <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
        <meta-data
            android:name="notch.config"
            android:value="landscape" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.extend.FullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.api.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.extend.DanmakuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.list.tiktok.TikTokActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.pip.PIPListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.ADActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pip.PIPActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.DefinitionPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pip.AndroidOPiPActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.api.PlayRawAssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.api.ParallelPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.CacheActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.list.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.PlayListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.PadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pip.TinyScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.CustomExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extend.CustomIjkPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.list.tiktok.TikTok2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.list.tiktok.TikTok3Activity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CpuInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>